/* Styling for sections */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Hide scrollbar in Firefox */



section {
    margin-bottom: 30px;
}



/* Styling for hero section */
.hero {
    background-color: #f0f0f0;
    padding: 50px;
    text-align: center;
}

.hero h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    color: #666;
    font-size: 18px;
}

/* Styling for features section */
.features {
    background-color: #fff;
    padding: 40px;
}

.features h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.features ul {
    list-style-type: none;
}

.features li {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Styling for demo section */
.demo {
    background-color: #f0f0f0;
    padding: 30px;
    text-align: center;
}

.demo h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Styling for call-to-action section */
.cta {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}

.cta a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.cta a:hover {
    background-color: #0056b3;
}

.cta p {
    color: #666;
    font-size: 16px;
    margin-top: 20px;
}